#win{
  display: none;
}

#lose{
  display: none;
}

#question{
  display: none;
}

*{
  background: black;
  color: Chartreuse;
}

button{
  color: grey;
  border: 1px solid grey;
  border-radius: 50px;
  margin-left: 5vw;
}

.genreButtons button{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.genreButtons {
  margin-left: 25vw;
}

input{
  border: 1px solid grey;
  border-radius: 50px;
}

button:hover {
  border: 1px solid green;
  color: Chartreuse;
}

.genreButtons button:active, .genreButtons button:focus{
  background: Chartreuse;
  color: black;
  border: ghostwhite;
}

.prompt{
  font-size: 50px;
  color: Chartreuse;
  text-align: center;
}


.musicPlayer{
  padding-top: 45px;
  margin-left: 34vw;
}

.game{
  text-align: center;
}

h1{
  font-size: 200px;
}
